.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,black,lightblue,black);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,black,lightblue,black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,skyblue,white,skyblue) ; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,skyblue,white,skyblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position:auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing-grid{
  background-image: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/2720146/910/759/m2/fpnw/wm1/vpkhwnfkgab4kxnlfqlrbm73gdjh7nonwo4ggtducs8tdyxi523nptbe9pce5qqs-.jpg?1495322420&s=9b9f5097774d8feb1cac1811ebacefd7);
  background-size:cover;
}
.back{
  background-size:cover;
  color:'#fff';
  shape-outside:'circle';
  

}


.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  height: 200px;
  padding-top: 1cm;
  border-radius:100%;
  opacity: 0.5;
}

/* .banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin:auto;
  border-radius: 10px;
} */

.banner-text h2{
  animation-direction:alternate-reverse;
  font-size: 46px;
  font-weight: bold;
  color: white;  
  position: relative;
  animation-name: mytext;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes mytext {
    25%  {color:rgb(48, 48, 31);}
    50%  {color:blue;}
    75%  {color:rgb(13, 41, 13);}
    100% {color:rgb(104, 43, 94);}
  
  from { 
    transform: translate3d(-20%, 0, 0); 
    
} 
to { 
    transform: translate3d(20%, 0, 0); 
} 
}
.banner-text h4,h5 {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}
.particle-js{
  position: absolute;
  height: 100%;
  width: 100%;
  
}

/* .social-links {

  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
} */
/* about page */
.aboutimage {
  vertical-align: top;
  margin-left:45%;
  border-radius: 100%;
  width: 10%;
  height: 10%;
}

.about h2 { 
 top: 150px; 
 text-align: top;
 width: 50%; 
}

.footer-element{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;


}
.footer-element i{
  color: rgb(60, 20, 202);
  font-size: 3em;
  padding: 8px;
}
/* .landing-footer{
  height: 5cm;
  margin-top: 80%;
  background-color:black;
}
.resume-footer{
  height: 3cm;
  margin:auto;
  background-color:black;
}
.about-footer{
  height: 3cm;
  margin-top:7cm;
  background-color:black;
}
.contact-footer{
  height: 3cm;
  margin-top: 0.1cm;
  background-color:black;
} */
.footer{
  height: 5cm;
  background-color:black;
}
