.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,black,lightblue,black);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,black,lightblue,black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,skyblue,white,skyblue) ; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,skyblue,white,skyblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position:auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


 .mdl-layout__drawer-button i{
color: rgb(22, 19, 218);
 }
.mdl-layout__drawer-button i:hover{
color: rgb(192, 29, 97);
font-size: larger;
  }

.landing-grid{
  background-image: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/2720146/910/759/m2/fpnw/wm1/vpkhwnfkgab4kxnlfqlrbm73gdjh7nonwo4ggtducs8tdyxi523nptbe9pce5qqs-.jpg?1495322420&s=9b9f5097774d8feb1cac1811ebacefd7);
  background-size:cover;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  height: 200px;
  width: 350px;
  padding-top: 1cm;
  border-radius:100%;
  opacity: 0.5;
}
.avatar-img:hover{
  height: 300px;
  width: 400px;
  padding-top: 1cm;
  border-radius:100%;
  opacity: 0.95;
  
}

.banner-text h2{
  animation-direction:alternate-reverse;
  font-size: 46px;
  font-weight: bold;
  color: white;  
  position: relative;
  animation-name: mytext;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes mytext {
    25%  {color:rgb(48, 48, 31);}
    50%  {color:blue;}
    75%  {color:rgb(13, 41, 13);}
    100% {color:rgb(104, 43, 94);}
  
  from { 
    transform: translate3d(-20%, 0, 0); 
    
} 
to { 
    transform: translate3d(20%, 0, 0); 
} 
}
.banner-text h4,h5 {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}
.particle-js{
  position: absolute;
  height: 100%;
  width: 100%;
  
}


.footer-element{
  display: block;
  width: 100%;
}
.footer-element i{
  color: rgb(60, 20, 202);
  font-size: 3em;
  padding-right: 10px;
  position: relative;;
  margin-left: 17%;  

}

.footer{
  height: 5cm;
  background-color:black;
}
.footer-element a :hover{
  color: wheat; 
  font-size: 2cm;
  
  }
   .footer-element a :active{
    color:green;  
  }

.link1 :hover{
  color:rgb(212, 44, 122) !important; 
  font-size: larger !important;
  
  }
.link1  :active{
color:blueviolet !important; 
}

/* about page */
.about-content img{
  height: 100px;
  width: 100px;
  position: relative;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 80%;
  opacity: 0.8;
  
}
.about-content img:hover{
  height: 200px;
  width: 300px;
  border-radius:100%;
  border: thin solid black;
  opacity: 0.95;
  
}
.outer-about-content{
  background-image: url(https://i.pinimg.com/originals/5b/aa/94/5baa94ba7303f0282410729f363a012f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-content{
  display: block;
  width: 60%;
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  background-color:rgba(238, 233, 225, 0.884);
}
.about-content h5{
  color: black;
  font-style: oblique;
  font-weight: 300;
  margin-left: 2%;
}
.about-content p{
  margin-left: 1%;
  margin-right: 1%;
}
   
